@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        Screen.vc is here to help!
    </p>

    <p>
        We are a team of investors and entrepreneurs who know, first-hand, the issues involved in raising money on both sides of the table.  
        We think there is a better way for investors and entrepreneurs to come together while reducing the usual time, money, and headaches.
    </p>
    <p>
        Whether you are @Html.ActionLink("seeking capital", "Index", Screen.Vc.WebRole.Source.ControllerNames.Entrepreneur), or are seeking a great place to @Html.ActionLink("invest your capital", "Index", "Investor"), try us out, and we’ll do what we can to make that process better.
    </p>

</article>
