@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <p>
        Have a question?  Want to help?  Send us an <a href="mailto:enquiries@screen.vc">email</a> and we will get back to you shortly.
    </p>
    </div>
</section>

