@{
    ViewBag.Title = "Home Page";
}
<div id="body-enclosing">
    <div id="entrepreneur" class="float-left centered">
        Looking for investors who are ready and eager to invest? Looking to spend less time being screened, poked, and prodded, and more time executing your business?
        <br />
        <br />
        @Html.ActionLink("Entrepreneurs", "Index", Screen.Vc.WebRole.Source.ControllerNames.Entrepreneur, null, new { @class="action-link-button" } )
    </div>
    <div id="investor" class="float-right centered">
        Looking for more and better deal flow? Would you like to spend less time screening and doing due diligence, and spend more time digging into the team, market, and idea of prospective deals?
        <br />
        <br />
        @Html.ActionLink("Investor", "Index", "Investor", null, new { @class="action-link-button"})
    </div>
</div>