@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Home Page";
}
<div id="body-enclosing" style="height:515px;">
    <div id="entrepreneur" class="float-left centered">
        connecting the right deals with the right investors at the right time
        <br />
        <br />
        @Html.ActionLink("Discover Projects", "BrowseProjects", "Entrepreneur", null, new { @class = "action-link-button orange" })
    </div>

</div>