<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Screen.Vc.DataAccess.Investors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Screen.Vc.DataAccess.Investors.Properties.Settings.ScreenVcConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=ScreenVc;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Screen.Vc.DataAccess.Investors.Properties.Settings>
            <setting name="SqlConnectTimeoutInSeconds" serializeAs="String">
                <value>15</value>
            </setting>
        </Screen.Vc.DataAccess.Investors.Properties.Settings>
    </applicationSettings>
</configuration>