html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Tahoma", "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}


#top-header {
    border-top: 8px solid #000;
    display: block;
}

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
    line-height: 0;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #ebebeb;
}

.mainBody {
    background-color: #efeeef;
    clear: both;
}
.indexMainDiv {
    background: url("../Images/bg.jpg") no-repeat;
    height: 550px;
}
.main-content {
    padding-left: 10px;
    padding-top: 30px;
}

.header .content-wrapper {
    padding-top: 20px;
}

.header {
    margin: 0 auto;
    max-width: 960px;
}

.headerSearch {
    text-align: right;
    clear: both;
}

    .headerSearch input {
        width: 250px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        font-style: italic;
    }
    .headerSearch input:focus {
        -webkit-border-radius: 10px!important;
        -moz-border-radius: 10px!important;
        border-radius: 10px!important;
    }

footer {
    text-align: center;
    clear: both;
    background-color: #000;
    color: #fff;
    font-size: .8em;
    padding: 8px 0;
    margin-top: -11px;
}

.footer {
    background-color: #fff;
    color: #666;
    text-align: left;
    height: 250px;
}

    .footer ul {
        padding:0;
        margin: 0px 190px 5px 20px;
        list-style:none;
        display: block;
        float: left;
    }
        .footer ul li {
            margin: 10px 0px;
        }
            .footer ul li a {
                text-decoration: none;
                color: #999;
            }
.site-title-footer{
    margin: 15px 0;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin-top: 10px;
    margin-bottom: 15px;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }



/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 12px;
    font-stretch: expanded;
    font-weight: bold;
    margin: 5px 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #666;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #c8c8c8;
                text-decoration: none;
            }

.homebody {
    background: url("../Images/bg.jpg") no-repeat left top;
}

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: auto;
        }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

.centered {
    font-family: Myriad Pro;
    font-size: 2.2em;
    font-weight: normal;
    width: 350px;
    margin-top: 150px;
}

.action-link-button {
    padding: 10px 20px;
    font-size: 0.5em;
    text-decoration: none;
}

.orange {
    background-color: #ffb100;
    border: 1px solid #ff680c;
    color: #FFF;
}

/*********** Browse Project *************/
.bgGray {
    background-color: #ccc;
}
h2.companyd_regheading.pageheading{
    width: 95.4%;
    padding: 20px 20px 20px 10px;
}
.projectLeft {
    width: 70%;
    color: #666 !important;
}

    .projectLeft .recentlyUploaded {
        background-color: #fff;
        margin: 20px 0px 20px 0px;
        font-weight: bold;
        padding: 20px;
    }

    .projectLeft .projectItem {
        height: 300px;
        background-color: #fff;
        margin: 20px 0px 20px 0px;
    }

        .projectLeft .projectItem .top {
            background-color: #fff;
            width: 88%;
            height: 230px;
            float: left;
        }

            .projectLeft .projectItem .top h3 {
                margin: 10px;
                color: #666 !important;
                font-size: 15px;
            }

            .projectLeft .projectItem .top img {
                width: 250px;
                height: 160px;
                margin: 10px;
            }

            .projectLeft .projectItem .top h4 {
                margin: 40px 10px 10px 10px;
                font-weight: 600;
                color: #666 !important;
            }

            .projectLeft .projectItem .top .shortDesc {
                margin: 0px 10px 10px 10px;
            }

        .projectLeft .projectItem .bottom,
        .company_reg .bottom {
            background-color: #345572;
            width: 88%;
            height: 70px;
            float: left;
            text-align: right;
        }

            .projectLeft .projectItem .bottom div,
            .company_reg .bottom div {
                margin-left: 225px;
            }

                .projectLeft .projectItem .bottom div span,
                .company_reg .bottom div span {
                    padding: 25px 0px 15px 10px;
                    display: block;
                    float: left;
                }

                    .projectLeft .projectItem .bottom div span a,
                    .company_reg .bottom div span a{
                        color: #90b4d3;
                        text-decoration: none;
                    }

        .projectLeft .projectItem .right {
            background-color: #ffb100;
            width: 12%;
            height: 300px;
            float: right;
            text-align: center;
            color: #fff;
        }

            .projectLeft .projectItem .right span {
                display: block;
                margin-top: 120px;
                font-size: 30px;
            }

.projectRight {
    width: 25%;
    color: #666;
}

    .projectRight .categoryItem {
        background-color: #fff;
        margin: 20px 0px;
    }

        .projectRight .categoryItem .categoryHeader {
            font-weight: bold;
            padding: 20px 20px 10px 20px;
            font-size: 12px;
        }

        .projectRight .categoryItem .categoryContents {
            font-weight: normal;
            padding: 0px 20px;
            height: 230px;
            width: 83%;
            overflow-y: auto;
            font-size: 12px;
            scrollbar-base-color: #CCC;
            scrollbar-base-color: #CCC;
            scrollbar-3dlight-color: #CCC;
            scrollbar-highlight-color: #CCC;
            scrollbar-track-color: #999;
            scrollbar-arrow-color: black;
            scrollbar-shadow-color: #CCC;
            scrollbar-dark-shadow-color: #CCC;
        }

            .projectRight .categoryItem .categoryContents ul {
                list-style: none;
                padding: 0;
            }

/**** Scrool Bar****/
body {
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    -webkit-border-radius: 10px;
    background: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

    ::-webkit-scrollbar-thumb:hover {
        background: #c8c8c8;
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #fff;
    }


::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    background-color: #fff;
    border: 1px solid #fff;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #fff;
    }


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}

/*Company Registration*/

.projectLeft.company_reg {
    width: 76%;
}
.company_reg .recentlyUploaded {
    height: 275px;
}
h2.companyd_regheading {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    width: 72%;
    font-size: 18px;
}
.company_reg input[type="button"] {
    background-color: #ffb100;
    border: none;
    color: #fff;
    margin-bottom: 12px;
}
.company_reg input,
.company_reg textarea{
    background-color: #ebebeb;
    margin-bottom: 12px;
}
.company_reg .sectionheading {
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    font-size: 15px;
}
.grid_a {
    width: 30%;
    float: left;
    margin-right: 6%;
    font-size: 14px;
    padding-top: 5px;
}
.grid_b {
    width: 27%;
    float: left;
}

.companyname .grid_b {
    width: 62%;
}
.companylogo .grid_b {
    width: 13%;
    margin-right: 18%;
}
.pitchvideo .grid_b,
.financial_files .grid_b,
.background_files .grid_b{
    width: 13%;
}
.pitchor {
    margin: 0 15px 0 5px;
}
.pitchupload {
width: 43%;
font-style: italic;
}
.pitchor,
.pitchupload {
    float: left;
    margin-top: 8px;
}
textarea.grid_b {
    width: 62%;
}
.projectLeft.company_reg .recentlyUploaded {
    padding-bottom: 0;
    margin-bottom: 0;
}
.projectLeft.company_reg .recentlyUploaded.first {
    margin-top: 0;
    height: 300px;
}
.projectLeft.company_reg .bottom {
    width: 100%;
    float: none;
    overflow: hidden;
}
.projectLeft.company_reg .bottom div {
    margin-left: 410px;
}
.projectLeft.company_reg .bottom .save {
    padding: 26px 20px 27px 25px;
    background-color: #ffb100;
    float: right;
}
.projectLeft.company_reg .bottom .save.register{
padding: 28px 19px 25px 26px;
}

.projectLeft.company_reg .bottom a {
    padding-right: 15px;
}
.projectLeft.company_reg .bottom .save a{
    color: #fff;
    font-weight: bold;
}
.projectLeft.company_reg .bottom.last{
    margin-bottom: 25px;
}
.faq .faqtextbox {
width: 98%;
}
.faq .faqbutton{
    width: 13%;
    float: right;
}
.projectLeft.company_reg .recentlyUploaded.faq {
height: 300px;
}
.faq .faqbutton.addnew{
    width: 13%;
    float: left;
    margin-top: 70px;
}
.companydesc label.grid_a {
clear: left;
}
