@{
    ViewBag.Title = "BrowseProjects";
    Layout = "~/Views/Entrepreneur/_Layout.cshtml";
}

<div id="body-enclosing bgGray">
    <div class="float-left projectLeft">
        <h2 class="companyd_regheading pageheading">
            Recently uploaded
        </h2>

        <div class="projectItem">
            <div class="right">
                <span>></span>
            </div>
            <div class="top">
                <div class="float-left" style="width: 50%;">
                    <h3>Brand Epix, Video Production</h3>
                    <img src="~/Images/ProjectTitle.jpg" />
                </div>
                <div class="float-right" style="width: 50%;">
                    <h4>A short description</h4>
                    <div class="shortDesc">
                        dasd adasda adasdasd adasd adasd
                        dadasdasd adasda asdasda

                        adasdasd adasdasd asdasdasd
                        dadasdasd

                        dasd adasda adasdasd adasd adasd
                        dadasdasd adasda asdasda

                        adasdasd adasdasd asdasdasd
                        dadasdasd
                    </div>
                </div>

            </div>
            <div class="bottom">
                <div>
                    <span><a href="#">Share on Facebook</a>|</span>
                    <span><a href="#">Tweet</a>|</span>
                    <span><a href="#">Add to Favorites</a></span>
                </div>
            </div>
        </div>
        <div class="projectItem">
            <div class="right">
                <span>></span>
            </div>
            <div class="top">
                <div class="float-left" style="width: 50%;">
                    <h3>Brand Epix, Video Production</h3>
                    <img src="~/Images/ProjectTitle.jpg" />
                </div>
                <div class="float-right" style="width: 50%;">
                    <h4>A short description</h4>
                    <div class="shortDesc">
                        dasd adasda adasdasd adasd adasd
                        dadasdasd adasda asdasda

                        adasdasd adasdasd asdasdasd
                        dadasdasd

                        dasd adasda adasdasd adasd adasd
                        dadasdasd adasda asdasda

                        adasdasd adasdasd asdasdasd
                        dadasdasd
                    </div>
                </div>

            </div>
            <div class="bottom">
                <div>
                    <span><a href="#">Share on Facebook</a>|</span>
                    <span><a href="#">Tweet</a>|</span>
                    <span><a href="#">Add to Favorites</a></span>
                </div>
            </div>
        </div>
        <div class="projectItem">
            <div class="right">
                <span>></span>
            </div>
            <div class="top">
                <div class="float-left" style="width: 50%;">
                    <h3>Brand Epix, Video Production</h3>
                    <img src="~/Images/ProjectTitle.jpg" />
                </div>
                <div class="float-right" style="width: 50%;">
                    <h4>A short description</h4>
                    <div class="shortDesc">
                        dasd adasda adasdasd adasd adasd
                        dadasdasd adasda asdasda

                        adasdasd adasdasd asdasdasd
                        dadasdasd

                        dasd adasda adasdasd adasd adasd
                        dadasdasd adasda asdasda

                        adasdasd adasdasd asdasdasd
                        dadasdasd
                    </div>
                </div>

            </div>
            <div class="bottom">
                <div>
                    <span><a href="#">Share on Facebook</a>|</span>
                    <span><a href="#">Tweet</a>|</span>
                    <span><a href="#">Add to Favorites</a></span>
                </div>
            </div>
        </div>
        <div class="projectItem">
            <div class="right">
                <span>></span>
            </div>
            <div class="top">
                <div class="float-left" style="width: 50%;">
                    <h3>Brand Epix, Video Production</h3>
                    <img src="~/Images/ProjectTitle.jpg" />
                </div>
                <div class="float-right" style="width: 50%;">
                    <h4>A short description</h4>
                    <div class="shortDesc">
                        dasd adasda adasdasd adasd adasd
                        dadasdasd adasda asdasda

                        adasdasd adasdasd asdasdasd
                        dadasdasd

                        dasd adasda adasdasd adasd adasd
                        dadasdasd adasda asdasda

                        adasdasd adasdasd asdasdasd
                        dadasdasd
                    </div>
                </div>

            </div>
            <div class="bottom">
                <div>
                    <span><a href="#">Share on Facebook</a>|</span>
                    <span><a href="#">Tweet</a>|</span>
                    <span><a href="#">Add to Favorites</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right projectRight">
        <div class="categoryItem">
            <div class="categoryHeader">Browse by category</div>
            <div class="categoryContents">
                <ul>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                </ul>
            </div>
        </div>
        <div class="categoryItem">
            <div class="categoryHeader">Browse by Group</div>
            <div class="categoryContents">
                <ul>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                </ul>
            </div>
        </div>
        <div class="categoryItem">
            <div class="categoryHeader">Browse by Investors</div>
            <div class="categoryContents">
                <ul>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                </ul>
            </div>
        </div>
        <div class="categoryItem">
            <div class="categoryHeader">Featured</div>
            <div class="categoryContents">
                <ul>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Comimcs</li>
                    <li>Dance</li>
                </ul>
            </div>
        </div>
    </div>
    <br class="clear"/>
</div>
